apiVersion: apps/v1
kind: Deployment
metadata:
  name: shopping-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shopping-api
  template:
    metadata:
      labels:
        app: shopping-api
    spec:
      containers:
        - name: shopping-api
          image: shopping-list-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3333
          env:
            - name: DATABASE_URL
              value: "postgresql://postgres:postgres@postgres:5432/shopping"
          command: ["npm", "run", "dev"]
---
apiVersion: v1
kind: Service
metadata:
  name: shopping-api
spec:
  selector:
    app: shopping-api
  ports:
    - port: 3333
      targetPort: 3333
  type: NodePort
